body {

  background: rgba(201, 201, 201, .3);

}

.loginRegister {

	background: #EEEEEE;

}

.seokinLoginHeader {

  margin-bottom: 3%;

}

.seokinLoginHeader h1 {

  font-weight: 100;
  font-size: 5em;
  font-family: 'Dosis';

}

.seokinLoginHeader h4 {

  font-weight: 100;
  font-size: 2em;
  font-family: 'Dosis';

  padding-bottom: 3%;
  border-bottom: 1px solid rgba(255, 165, 0, .5);

}

#loginForm, #registerForm {

  font-weight: 100;
  font-size: .9em;
  font-family: 'Roboto';

}

#loginForm input[type="text"], #loginForm input[type="password"], .registerInfo {

	/*remove focus border*/
	outline: none;

	padding: 1%;

	width: 50%;

	border-radius: 2px;

	border: 1px solid #ccc;

	font-size: 1.5em;

	color: #7F7F7F;
  font-family: 'Raleway';
  font-weight: 300;

}

#loginForm input:focus, #registerForm input:focus {

  border: 1px solid rgba(243, 110, 33, .5);

  -moz-box-shadow:    3px 3px 5px 6px rgba(255, 165, 0, .9);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(255, 165, 0, .9);
  box-shadow:       inset 0 0 3px rgba(255, 165, 0, .9);

}

#loginForm input:first-child, #registerForm input:first-child {

  margin-bottom: .5%;

}

#loginForm input[type="submit"], #loginForm a, #registerForm input[type="submit"], #registerForm a {

  margin-top: 2%;

  border-radius: 2px;

  font-size: 1.5em;

  font-family: 'Raleway';
  font-weight: 100;

}

#deptOptions {

	/*remove focus border*/
	outline: none;

	border-radius: 2px;

	border: 1px solid #ccc;

	color: #7F7F7F;

  font-size: 20px;

  font-family: 'Raleway';
  font-weight: 300;

}

#registerForm .twitter-typeahead .tt-hint  {

  color: #7F7F7F;
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #ccc;


}

/*TOP NAVIGATION*/

.notification {

  font-size: .4em;

  position: relative;
  bottom: 10px;

}

#hiddenDash, #hiddenDescrips, #hiddenPostings, #hiddenEmployers, #hiddenAccount, #hiddenFaq, #hiddenLogout {

  display: none;

  -webkit-transition: display .2s ease-in-out;
  transition: display .2s ease-in-out;

}

/*MEDIA QUERIES*/

@media (max-width: 1140px) {

  .navbar .nav li a {

    display: none;

  }

  #hiddenDash, #hiddenDescrips, #hiddenPostings, #hiddenEmployers, #hiddenAccount, #hiddenFaq, #hiddenLogout {

    display: block;

  }

  .navbar-nav {

    margin-left: 20px;

  }

}

@media (max-width: 768px) {

  #hiddenDash, #hiddenDescrips, #hiddenPostings, #hiddenEmployers, #hiddenAccount, #hiddenFaq, #hiddenLogout {

    display: none;

  }

  #dashNav, #descripsNav, #postingsNav, #employersNav, #accountNav, #faqNav, #logoutNav {

    display: block;

  }

} /*END MEDIA QUERIES*/


#dashNav, #descripsNav, #postingsNav, #employersNav, #accountNav, #faqNav, #logoutNav, #hiddenDash, #hiddenDescrips, #hiddenPostings, 
#hiddenEmployers, #hiddenAccount, #hiddenFaq, #hiddenLogout {

  -webkit-transition: background .9s ease-out;
  transition: background .9s ease-out;

}

#dashNav:hover, #hiddenDash:hover {

  background: #f5f5f5;

}

#descripsNav:hover, #hiddenDescrips:hover {

  background: #FCD65A;

}

#postingsNav:hover, #hiddenPostings:hover {

  background: #17C060;

}

#employersNav:hover, #hiddenEmployers:hover {

  background: #72F4CF;

}

#accountNav:hover, #hiddenAccount:hover {

  background: #F94D3E;

}

#faqNav:hover, #hiddenFaq:hover {

  background: #A96DD3;

}

#logoutNav {

  padding-right: 40px;

}

#logoutNav:hover, #hiddenLogout:hover {

  background: #f5f5f5;

}

/*END TOP NAVIGATION*/

/*SEOkin Layout*/

.sectionHeading {

  margin-bottom: 5%;

  text-align: center;

  font-family: 'Roboto Condensed';
  font-size: 3.5em;
  color: #33332D;
  font-weight: 100;

  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

}

#searchTerm {

  background: #fafafa;

}

#searchTerm:focus {

  outline: none;

  border: 1px solid rgba(243, 110, 33, .5);

  -moz-box-shadow:    inset 0 0 2px rgba(255, 165, 0, .9);
  -webkit-box-shadow: inset 0 0 2px rgba(255, 165, 0, .9);
  box-shadow:       inset 0 0 2px rgba(255, 165, 0, .5);

}

.allDescriptions table tr, .allUsers table tr {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 1.1em;
  color: #33332D;

}

.allDescriptions table th, .allUsers table th {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 1.2em;
  color: #33332D;

}

.allDescriptions button, .allDescriptions a, .allUsers button, .allUsers a {

  font-family: 'Raleway';

}

#newDescription, #newUser {

  margin-top: 1%;
  margin-right: 2%;

  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;

}

#newDescription:hover, #newUser:hover {

  text-decoration: none;

}

#newDescription:hover, #newUser:hover {

  background: #39b3d7;

  border-color: #269abc;

}

#newDescription:active, #newUser:active {

  /*rhoff37*/
  position:relative;
  top: 0px;

  background-color: #39b3d7;
  border-color: #269abc;

}

.editDescription label, .addDescription label {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 1.15em;
  color: #33332D;

}

.editDescription input, .editDescription textarea, .addDescription input, .addDescription textarea {

  margin-bottom: 2%;

  border-radius: 1px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 1.15em;
  color: #33332D;

}

.editDescription select, .addDescription select {


  border-radius: 1px;

}

.editDescription input:focus, .editDescription textarea:focus, .addDescription input:focus, .addDescription textarea:focus, .editDescription select:focus, .addDescription select:focus {

  border: 1px solid rgba(243, 110, 33, .5);

  -moz-box-shadow:    inset 0 0 2px rgba(255, 165, 0, .9);
  -webkit-box-shadow: inset 0 0 2px rgba(255, 165, 0, .9);
  box-shadow:       inset 0 0 2px rgba(255, 165, 0, .9);

}

.editDescription input[type="submit"], .addDescription input[type="submit"] {

  margin-top: 4%;
  margin-bottom: 5%;

  color: #fff;

  width: 100%;
  height: 80px;

  font-family: 'Roboto';

  font-weight: 100;

  font-size: 1.6em;

  border-radius: 3px;

}

.editDescription a, .addDescription a {

  padding-top: 28px;

  margin-top: 4%;
  margin-bottom: 5%;

  border-radius: 3px;

  width: 100%;
  height: 80px;

  font-family: 'Roboto';

  font-weight: 100;

  font-size: 1.6em;

}

.editUser, .addUser {

  font-weight: 100;
  font-family: 'Roboto';

}

.editUser input, .addUser input {

  border-radius: 2px;

  margin-bottom: 2%;

  font-family: 'Roboto';
  font-weight: 100;

}

.editUser input:focus, .addUser input:focus {

  border: 1px solid rgba(243, 110, 33, .5);

  -moz-box-shadow:    3px 3px 5px 6px rgba(255, 165, 0, .9);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(255, 165, 0, .9);
  box-shadow:       inset 0 0 3px rgba(255, 165, 0, .9);

}

.editUser label, .addUser label {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 1.3em;
  color: #33332D;

}

#editDeptOptions, #addDeptOptions {

  /*remove focus border*/
  outline: none;

  border-radius: 2px;

  border: 1px solid #ccc;

  color: #7F7F7F;

  margin-bottom: 10%;

  color: #555555;

}

#editDeptOptions:focus, #addDeptOptions:focus {

  border: 1px solid rgba(243, 110, 33, .5);

  -moz-box-shadow:    3px 3px 5px 6px rgba(255, 165, 0, .9);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(255, 165, 0, .9);
  box-shadow:       inset 0 0 3px rgba(255, 165, 0, .9);

}

.editUser .twitter-typeahead .tt-dropdown-menu, .addUser .twitter-typeahead .tt-dropdown-menu  {

  margin-top: -20px;

}

.editUser .twitter-typeahead .tt-suggestion, .addUser .twitter-typeahead .tt-suggestion {

  text-align: center;

}

.editUser .tt-query, .editUser .tt-hint, .addUser .tt-query, .editUser .tt-hint {

  font-size: 1.4em;

  width: 280%;

}

.editUser .tt-dropdown-menu, .addUser .tt-dropdown-menu {
    width: 240%;
    margin-top: 12px;
    margin-left: 48px;
    padding: 0px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 1px 10px rgba(0,0,0,.2);

    border: 1px solid #ccc;
}

.editUser input[type="submit"], .addUser input[type="submit"] {

  margin-top: 4%;
  margin-bottom: 5%;

  width: 100%;
  height: 70px;

  font-family: 'Roboto';
  font-weight: 100;

  font-size: 1.6em;

}

.editUser a {

  margin-top: 1%;
  margin-bottom: 4%;
  padding-top: 20px;

  height: 70px;

  border-radius: 2px;

  font-family: 'Roboto';
  font-weight: 100;

  font-size: 1.6em;

}

.allDash a {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 1.1em;

}

.allDash .panel-footer a {

  /*rhoff37*/
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

}

.allDash .panel-footer a:active{

  /*rhoff37*/
  position:relative;
  top: 0px;

}

.allDash .panel-title {

  font-family: 'Roboto';
  font-weight: 100;

}

.dashList {

  list-style: none;
  margin: 0;
  padding: 0;

}

.dashList li {

  margin-bottom: 2%;

}

#dashNewDesc {

  margin-right: 20px;

  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;

}

#dashNewUser {

  margin-left: 20px;

  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;

}

#dashNewDesc:hover, #dashNewUser:hover {

  background: #39b3d7;

  border-color: #269abc;

}

#dashNewDesc:active, #dashNewUser:active {

  /*rhoff37*/
  position:relative;
  top: 0px;

}


